@model IEnumerable<library.Models.Livro>

@{
    ViewData["Title"] = "Index";
}

<h1>Biblioteca</h1>

<p>
    <a asp-action="Create">Adicionar novo livro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Título
            </th>
            <th>
                ID do Autor
            </th>
            <th>
                ID do Gênero
            </th>
            <th>
                Código ISBN do Livro
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.AutorId)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.GeneroId)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.ISBN)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
